<%= post.created_at.strftime("%d %b %y") %>
<h2><%= link_to_unless_current post.title, post %></h2>

 

 <% if controller.action_name == "show" %>
 	<%= post.content.html_safe %>
<% else %>
	<div>
	<% post.body.lines.first(5).each do |line| %>
		<%= line.html_safe %>
	<% end %>
	<% if post.body.lines.length >= 5 %>
		<%= link_to_unless_current '... ...', post %><br/>
	<% end %>
	</div>
<% end %>
<h6> Posted by: <%= post.author_name %></h6> 
<br/>




<!-- 
<% if controller.action_name == "show" %>
 	<p>
 		<button class="button">
 		<%= link_to 'Edit', edit_post_path(post), class: 'link-to-css' %>
 		</button>
 		<button class="secondary button">
		<%= link_to 'Back', posts_path, class: 'link-to-css' %>
		</button>
 	</p>
<% end %> 
-->

<!--
<% if controller.action_name == "index" %>
	<div>
	<% post.body.lines.first(5).each do |line| %>
		<%= line.html_safe %>
	<% end %>
	<% if post.body.lines.length >= 5 %>
		<%= link_to_unless_current '... ...', post %><br/>
	<% end %>
	</div>
	<p>
		<button class="button">
		<%= link_to 'Edit', edit_post_path(post), class: 'link-to-css' %>
		</button>
		<button class="alert button">
		<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to-css' %>
		</button>
	</p>
<% end %>
-->
