<%= post.created_at.strftime("%d %b %y") %><br/>
 <h2><%= link_to_unless_current post.title, post %></h2>

<% if controller.action_name == "show" %>
 	<%= simple_format post.body %>
 	<p>
 		<button class="button">
 		<%= link_to 'Edit', edit_post_path(post), class: 'link-to-css' %>
 		</button>
 		<button class="secondary button">
		<%= link_to 'Back', posts_path, class: 'link-to-css' %>
		</button>
 	</p>
<% end %>

<% if controller.action_name == "index" %>
	<div>
	<% post.body.lines.first(5).each do |line| %>
		<%= simple_format line %>
	<% end %>
	<% if post.body.lines.length >= 5 %>
		<%= link_to_unless_current '... ...', post %><br/>
	<% end %>
	</div>
	<p>
		<button class="button">
		<%= link_to 'Edit', edit_post_path(post), class: 'link-to-css' %>
		</button>
		<button class="alert button">
		<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-to-css' %>
		</button>
	</p>
<% end %>
